*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav_container{
    display: flex;
    background-color: rgba(0,0,0,.87);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
}
.nav_tab{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-family: Calibri ;
    font-weight: 600;
    font-size: 20px;
}
.page_header {
    display: flex;
    align-items: center;
    justify-content:center;
    background: url(https://signcovers.com/wp-content/uploads/2019/09/parking-signs-header-background.jpg);
    width: 100%;
    height: 300px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;    
}

.page_header>h1{
    color: white;
    font-family: fantasy;
    font-size: 50px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    margin: 8px;
}

#pricing_block{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 20px;
}

.btn_purchase_now{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0,0,0,.87);
    border-radius: 5px;
    padding: 4px;
    font-family: Calibri;
    color: rgba(0,0,0,.87);
	background-color : rgba(0, 0, 0, .1);
}

.txt_purchase_monthly{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0,0,0,.87);
    border-radius: 50%;
    padding: 16px;
    font-family: Calibri;
    color: rgb(65, 65, 65);
}

input[type=text], input[type=email],  input[type=password], input[type=tel], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
}
  

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
label{
    font-family: Calibri;
    font-size: 16px;
}

.heading_region{
    font-family: fantasy;
    font-size: 36px;
    font-variant-caps: all-petite-caps;
    color: rgb(39, 39, 39);
}
 
.split_line{
    border: 4px solid  rgba(0,0,0,.87);
    width: 10%;
    align-self: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}