h1,h2,h3{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.nav-scroller {
    position: relative;
    overflow-y: hidden;
    -webkit-text-size-adjust: 100%;
}
.text-responsive {
    font-size: calc(100% + 2.5vw + 2.5vh);
  }